.academic-work-section {
  margin: var(--grid-mega) 0;
}

.academic-work-section h3 {
  margin-bottom: var(--grid-xsmall);
}

.academic-work-item {
  margin: var(--grid-xxsmall) 0;
  display: flex;
  flex-direction: row;
  gap: var(--grid-small);
}

.academic-work-item-year {
  font-weight: 400;
  min-width: 2.8rem;
}

