.creative-work-section {
  margin: var(--grid-mega) 0;
}

.creative-work-section h3 {
  margin-bottom: var(--grid-xsmall);
}

.creative-work-item {
  margin: var(--grid-xxsmall) 0;
}

.creative-work-item a {
  text-decoration: underline;
  text-underline-offset: var(--grid-xmicro);
}
