/* HOME */

.home-section, .category-section {
  padding: 4rem 0;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-header-img-wrapper {
  width: 360px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  margin-right: 2.6rem;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.home-header-img-wrapper img {
  z-index: 1;
  height: 100%;
  width: 100%;
  grid-column: 2 / 17;
  grid-row: 2 / 17;
  object-fit: cover;
}

.background-square {
  z-index: 0;
  grid-column: 1 / 16;
  grid-row: 1 / 16;
}

.home-header h1 {
  margin-bottom: var(--grid-xlarge);
}

.home-header p {
  margin-bottom: var(--grid-xsmall);
}

/* CATEGORIES */

.category-column {
  display: flex;
  flex-direction: column;
  gap: var(--grid-mega);
}

.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.4rem;
  padding: var(--grid-mega);
}

.category-item.img-right-align {
  flex-direction: row-reverse;
}

.category-item img {
  height: 210px;
  width: 340px;
  flex-shrink: 0;
  object-fit: cover;
  outline: 1.5px solid var(--color-black);
}

.category-item-text h2 {
  line-height: 3.2rem;
}

.category-item-text p {
  margin-top: var(--grid-xlarge);
  margin-bottom: var(--grid-large);
}

a.category-item-button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: var(--grid-small) var(--grid-large);
  padding-top: 1.1rem;
}

a.category-item-button:hover, a.category-item-button:active {
  background-color: var(--color-link);
}

/* Tablet mobile version */
@media (max-width: 880px) {
  .home-section, .category-section {
    padding: var(--grid-mega) 0;
  }
  
  .home-header {
    flex-direction: column;
  }

  .home-header-img-wrapper {
    margin-right: 0;
    margin-bottom: var(--grid-xlarge);
  }

  /* Switch to center alignment */
  .home-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-item, .category-item.img-right-align {
    flex-direction: column;
    gap: var(--grid-large);
  }

  /* Switch to center alignment */
  .category-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-item-text p, .category-item-text h2 {
    text-align: center;
  }

  .category-item-text p {
    margin-top: var(--grid-xlarge);
    margin-bottom: var(--grid-medium);
  }
}

/* Phone mobile version */
@media (max-width: 532px) {
  .home-header-img-wrapper {
    flex-shrink: 1;
    width: auto;
    max-width: 100%;
  }

  .home-header h1 {
    margin-bottom: var(--grid-large);
  }

  .category-item {
    flex-direction: column;
    padding: var(--grid-xlarge);
    gap: var(--grid-small);
  }

  .category-item-text p {
    margin-top: var(--grid-xsmall);
    margin-bottom: var(--grid-medium);
  }

  .category-item img {
    flex-shrink: 1;
    width: 100%;
  }
}
