.reporting-section {
  padding-top: var(--grid-xxsmall);
  padding-bottom: var(--grid-xlarge);
}

.reporting-row {
  display: flex;
  flex-direction: row;
  gap: var(--grid-mega);
  margin: var(--grid-large) 0;
}

.reporting-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc((100% - 2*var(--grid-mega)) / 3);
}

.reporting-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

p.reporting-item-date {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: var(--grid-small);
  margin-bottom: var(--grid-xmicro);
}

a.reporting-item:hover p.reporting-item-date, a.reporting-item:active p.reporting-item-date {
  color: var(--color-black);
}

a.reporting-item:hover h4, a.reporting-item:active h4 {
  text-decoration: underline;
  text-underline-offset: var(--grid-xmicro);
}

/* Tablet mobile version */
@media (max-width: 880px) {
  .reporting-row {
    gap: var(--grid-large);
  }
}

@media (max-width: 532px) {
  .reporting-section {
    padding-bottom: var(--grid-xsmall);
  }
  
  .reporting-row {
    flex-direction: column;
    gap: var(--grid-xlarge);
  }
}
