:root {
  /* General colors */
  --color-white: #FFFFFF;
  --color-black: #040203;
  --color-link: #B77E33;
  --color-beige-100: #F3F2ED;
  --color-beige-200: #D9D4CB;

  /* Font */
  --font-size-default: 1.2rem;

  /* Grid */
  --grid-xmicro: 0.15rem;
  --grid-micro: 0.2rem;
  --grid-xxsmall: 0.4rem;
  --grid-xsmall: 0.6rem;
  --grid-small: 0.8rem;
  --grid-medium: 1rem;
  --grid-large: 1.2rem;
  --grid-xlarge: 1.5rem;
  --grid-mega: 2rem;
  --grid-page-width: 1045px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 350;
  font-size: var(--font-size-default);
  color: var(--color-black);
  background-color: var(--color-beige-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Styles */
h1, h2, h3, h4, h5 {
  font-family: 'Besley', serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
  line-height: 5rem;
}

h2 {
  font-size: 3.2rem;
}

/* Small uppercase headings */
h3 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* Reporting item titles */
h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
}

p {
  font-size: var(--font-size-default);
  line-height: 1.6rem;
  margin: 0;
}

img {
  display: block;
}

/* LINKS */

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--color-black);
}

a:hover, a:active {
  color: var(--color-link);
}

/* HEADER STYLES */

.black-border-bottom {
  border-bottom: 1.5px solid var(--color-black);
}

.black-border-top {
  border-top: 1.5px solid var(--color-black);
}

.black-border-thick {
  outline: 2.5px solid var(--color-black);
}

h1.page-header {
  padding: 3.4rem 0;
}

/* GRIDS & CONTAINERS */

.page-container {
  max-width: var(--grid-page-width);
	margin: 0 auto;
}

/* RESPONSIVE STYLES */

/* Less than --grid-page-width + (--grid-xlarge * 2) */
@media (max-width: 1093px) {
	.page-container {
		max-width: none;
	  margin: 0 var(--grid-xlarge);
	}
}

/* Tablet mobile version */
@media (max-width: 880px) {

}

/* Phone mobile version */
@media (max-width: 532px) {
	.page-container {
	  margin: 0 var(--grid-medium);
	}

  h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h1.page-header {
    padding: var(--grid-mega) 0;
  }
}
