.nav-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR */ 

nav {
  position: sticky;
  top: 0;
  z-index: 2;
	padding-top: var(--grid-small);
  padding-bottom: calc(var(--grid-small) - 4px);
	background-color: var(--color-beige-200);
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: baseline;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav a {
  line-height: var(--font-size-default);
}

nav a.home-nav-link {
	font-family: 'Besley', sans-serif;
  font-weight: 650;
}

nav a:not(.home-nav-link) {
  font-weight: 500;
  line-height: 1.6rem;
	padding-left: var(--grid-mega);
}

nav a:hover, nav a:active {
  color: var(--color-link);
  text-decoration: underline;
  text-underline-offset: var(--grid-xmicro);
}

.mobile-nav-menu, .mobile-nav-backdrop {
  display: none;
}

.nav-container svg.fa-bars {
  display: none;
}

.nav-container svg.fa-bars:hover {
  color: var(--color-link);
}

/* Font Awesome google scholar icon wasn't available in free-brands-svg-icons, 
so I added the same styling for the direct svg */
svg.google-scholar-svg {
  height: 1em;
  vertical-align: -2.4px;
}

/* FOOTER */ 

.footer-top-space {
  margin-top: var(--grid-mega);
}

.footer {
  background-color: var(--color-beige-200);
  padding: var(--grid-small) 0;
  margin-top: auto;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-menu {
  display: flex;
  flex-direction: row;
}

.footer-menu a {
  padding: 0 var(--grid-medium);
}

/* Tablet mobile version */ 
@media (max-width: 880px) {
  .nav-container .nav-menu {
    display: none;
  }

  .nav-container {
    position: relative;
    align-items: flex-start;
  }

  .nav-container svg.fa-bars {
    display: block;
    z-index: 5;
  }

  nav.expanded .mobile-nav-menu{
    z-index: 4;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-beige-200);
    border-left: 1.5px solid var(--color-black);
    display: flex;
    flex-direction: column;
    padding: 3.8rem var(--grid-medium);    
  }

  nav.expanded .mobile-nav-menu a {
    padding: var(--grid-xsmall) 0;
    text-indent: var(--grid-xsmall);
  }

  nav.expanded .mobile-nav-menu a:not(:last-child) {
    border-bottom: 1px solid var(--color-gold-200);
  }

  nav.expanded .mobile-nav-backdrop {
    z-index: 3;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(4,2,3,0.7);

    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .footer-top-space {
    margin-top: var(--grid-large);
  }
}
